* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.593);
}
.container {
  margin: auto;
  width: 800px;
}
.section {
  height: max-content;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 15px 1px white;
  padding: 10px;
  color: rgba(255, 255, 255, 0.589);
}
.section, .navigation{
  margin-bottom: 20px;
}
.section ul, .navigation ul {
  list-style: none;
}
.about {
  display: flex;
}
.about__img {
  width: 250px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 10px 20px 10px 10px;
}
.about__img:hover {
  border: 1px solid white;
  box-shadow: 0px 0px 5px rgb(12, 201, 243), 0px 0px 10px rgb(12, 201, 243), 0px 0px 20px rgb(12, 201, 243);
  transition: all 0.5s;
}
.about__text {
  width: 500px;
}
h1, h2 {
  text-align: center;
  margin-bottom: 10px;
}
.text {
  text-align: justify;
  padding: 10px;
}

.about__contacts ul{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.about__contacts li {
  display: flex;
  flex-direction: column;
  text-align: center;
}

button {
  width: 100px;
  height: 50px;
  background: rgba(0, 0, 0, 0.593);
  border: 0.5px solid grey;
  border-radius: 10px;
  margin-bottom: 5px;
}
button::before {
  content: " ";
  width: 50px;
  height: 50px;
  background-color: red;
  
}
button:hover {
  border: 1px solid white;
  box-shadow: 0px 0px 5px rgb(12, 201, 243), 0px 0px 10px rgb(12, 201, 243), 0px 0px 20px rgb(12, 201, 243);
  transition: all 0.5s;
}
.fa-brands {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.589);
}




